{% extends 'base.html' %}
{% load static %}

{% block title %}Borsin blog{% endblock %}

{% block content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p></p>
                <h1>Обо мне</h1>
                    <p>
                    Добро пожаловать в мой блог. Здесь я, Саша, автор этого сайта, делюсь своими мыслями, опытом и увлечениями.
                    </p>
                    <p>
                    Я работаю бизнес-аналитиком в компании ДНС Ритейл, и моя цель – стать отличным специалистом по анализу данных.
                        Стремлюсь к постоянному развитию в области аналитики, не хочу останавливаться на достигнутом.
                    </p>
                    <h4> Кто я? </h4>
                    <ul>
                    <li> Имя: Борсин Александр </li>
                    <li>Местонахождение: Владивосток, Россия</li>
                    <li>Профессия: бизнес-аналитик (ДНС Ритейл) </li>
                    <li>Интересы и увлечения: анализ данных, AI, продуктивность, изучение английского, чтение книг</li>
                    </ul>
                    <h4> О чем этот блог и почему он существует? </h4>
                    <p>
                    Считаю, что лучший способ совершенствовать свои навыки, будь то в анализе данных или в иностранном языке –
                        это практика и обсуждение. Если вы можете о чем-то рассказывать – половина дела уже сделана.
                        Поэтому этот блог – место, где я буду делиться своим опытом, мыслями и знаниями.
                    </p>

                    <h3>Контакты</h3>
                    <p>
                    Спасибо, что посетили мой сайт! Вы также можете подписаться на мой
                        <a href="https://t.me/borsinblog">телеграм-канал</a>.
                        Если у вас есть какие-либо комментарии, предложения или вы просто хотите связаться со мной, напишите
                        на <i>borsinblog@gmail.com</i>. До встречи!
                    </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}