{% extends 'base.html' %}
{% load static %}

{% block title %}Borsin Blog{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
            <div class="article-list">
                {% for article in articles %}
                <div class="article">
                    <h2 class="article-title">
                        <a href="{{ article.get_absolute_url }}">{{article.title}}</a>
                    </h2>
                    <p class="article-summary">{{article.summary | safe}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}