html {
  position: relative;
  min-height: 100%;
  font-size: 18px;
}
body{
    color: #333;
    background-color: #FFF0E5;
    font-family:  'Roboto', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px; /* Margin bottom by footer height */
    line-height: 1.4rem;
}

.page-header{
    height: 9em;
    margin-left: -20px;
}
h1{
    font-size: 2em;
}
h2{
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.3em;
}
h3{
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 1.05em;
}
h4, h5, h6{
    font-size: 1em;
}
h1, h2, h3, h4{
    font-family:  'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.avatar-top{
    margin-top: 2em;
    font-size: 1em;
    font-weight: 900;
    font-family:  'Roboto', Arial, Helvetica, sans-serif;
}
.avatar-top img {
    width: 46px;
    margin-right: .2em;
    clip-path: circle(20px at center);
    margin-top: -3px;
}
.avatar-top a{
    text-decoration: none;
    color: #333;
}
.avatar-top a:hover{
    color: #555;
}
.article{
    margin-button: 3em;
}
h2.article-title{
    margin-bottom: 1em;
}
h2.article-title a{
    text-decoration: none;
    color: #333;
}
h2.article-title a:hover {
     color: #555;
 }
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #fff;
    color: #ccc;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: .8em;
    opacity: .5;
}